<div class="page cyan">
  <div id="petPage" class="row" style="display: table-cell; vertical-align: middle;">
    <div class="col s12 m12 l6 offset-l3">
      <div class="card" style="padding: 1rem; display: flow-root;">
        <div class="col s12 m6 l6" style="margin-bottom: 1rem">
          <div class="blue" style="position: relative;">
            <img src='{{pet.image? pet.image : "../../assets/image/default_pet.png"}}' alt="pet" class="materialboxed responsive-img"
              style="display: block; margin: 0 auto;">
            <div class="ribbon" *ngIf="pet.lostStatus == true">
              <span>LOST</span>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l6">
          <p class="pet-content">Type : {{pet.type}}</p>
          <p class="pet-content">Breed : {{pet.breed ? pet.breed : '-'}}</p>
          <p class="pet-content">Name : {{pet.name}}</p>
          <p class="pet-content">Gender : {{pet.gender ? pet.gender : '-'}}</p>
          <p class="pet-content">Age : {{pet.ageYear ? pet.ageMonth ? pet.ageYear + ' years ' + pet.ageMonth + ' months' : pet.ageYear + ' years'
            : pet.ageMonth ? pet.ageMonth + ' months' : '-'}}</p>
          <p class="pet-content">Color : {{pet.color ? pet.color : '-'}}</p>
          <div class="divider"></div>
          <p class="pet-content" style="margin-top: 10px;">Owner : {{user.firstName}} {{user.lastName}}</p>
          <p class="pet-content">Tel : {{user.tel ? user.tel : '-'}}</p>
          <p class="pet-content">Email : {{user.email ? user.email : '-'}}</p>
        </div>
        <div class="col s12">
          <button (click)="reportLocation()" class="input-field col s12 m8 l8 offset-m2 offset-l1 light-blue waves-effect waves-light btn">
            Report Location
            <i class="material-icons" style="line-height: initial;">location_on</i>
          </button>
          <a href={{lineFri}} class="input-field right">
            <img height="36" border="0" alt="เพิ่มเพื่อน" src="https://scdn.line-apps.com/n/line_add_friends/btn/en.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<swal #successSwal title="Successs" type="success">
</swal>

<swal #errorSwal title="Error" type="error">
</swal>

<app-loading-page *ngIf="loading"></app-loading-page>

<app-loading-opacity *ngIf="reported"></app-loading-opacity>
