<!-- START HEADER -->
<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
    <nav class="navbar-color gradient-45deg-purple-deep-orange gradient-shadow">
      <div class="nav-wrapper">
        <ul class="right">
          <li>
            <a class="waves-effect waves-block waves-light profile-button" data-activates="profile-dropdown">
              <span class="hide-on-small-and-down" style="padding: 8px">{{user.firstName ? user.firstName : '-'}}</span>
              <span class="avatar-status avatar-online">
                <img src="../../assets/image/account_boy.png" alt="avatar">
                <i></i>
              </span>
            </a>
            <ul id="profile-dropdown" class="dropdown-content">
              <li>
                <a routerLink="/profile" class="grey-text text-darken-1">
                  <i class="material-icons">face</i> Profile</a>
              </li>
              <li>
                <a (click)="logoutSwal.show()" class="grey-text text-darken-1">
                  <i class="material-icons">keyboard_tab</i> Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- end header nav-->
</header>

<swal #logoutSwal title="Logout" text="Are you sure?" type="question" [showCancelButton]="true" (confirm)="logout()">
</swal>
<!-- END HEADER -->
