<!--breadcrumbs start-->
<div id="breadcrumbs-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <h5 class="breadcrumbs-title">Pets</h5>
        <ol class="breadcrumbs">
          <li class="active">
            Pets
          </li>
          <li class="active">
            Pets List
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div id="item-posts" class="row">
      <div class="item-sizer"></div>
      <div class="item product">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="/pet/adas">
              <img src="../../assets/image/teer.png" alt="item-img">
            </a>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col s12">
                <p class="card-title grey-text text-darken-4">
                  <a href="/pet/asdsa" class="grey-text text-darken-4">เตี้ย</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item product">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="/pet/adas">
              <img src="../../assets/image/bob.png" alt="item-img">
            </a>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col s12">
                <p class="card-title grey-text text-darken-4">
                  <a href="/pet/asdsa" class="grey-text text-darken-4">Bob</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
