<app-header></app-header>
<!-- START MAIN -->
<div id="main">
  <!-- START WRAPPER -->
  <div class="wrapper">
    <app-navbar></app-navbar>
    <!-- START CONTENT -->
    <section id="content">
      <router-outlet></router-outlet>
    </section>
    <!-- END CONTENT -->
  </div>
  <!-- END WRAPPER -->
</div>
<!-- END MAIN -->

<footer class="page-footer gradient-45deg-purple-deep-orange">
  <div class="footer-copyright">
    <div class="container">
      <span>
        <a href="https://line.me/R/ti/p/%40pvb6787t">
          <img height="36" border="0" alt="เพิ่มเพื่อน" src="https://scdn.line-apps.com/n/line_add_friends/btn/en.png">
        </a>
        <!-- Copyright © -->
        <!-- <script type="text/javascript">
          document.write(new Date().getFullYear());

        </script>2018
        <a class="grey-text text-lighten-4" href="http://themeforest.net/user/pixinvent/portfolio?ref=pixinvent"
		  target="_blank">PIXINVENT</a> All rights reserved. -->
      </span>
      <span class="right"> Design and Developed by
        <a class="grey-text text-lighten-4" href="https://www.facebook.com/kokoro.brit">Bright</a>
      </span>
    </div>
  </div>
</footer>
