<div class="page cyan">
  <div style="display: table-cell; vertical-align: middle;">
    <form #registerForm="ngForm" (ngSubmit)="(registerForm.form.valid && (confirmPassword.value == password.value)) && register()"
      class="row" style="margin: auto; padding: 10px">
      <div class="card-panel col s12 m6 l6 offset-m3 offset-l3">
        <div class="row">
          <div class="input-field col s12 center">
            <h4>Register</h4>
            <p class="center">Join to Petbook now !</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix pt-5">person_outline</i>
            <input [(ngModel)]="user.username" id="username" name="username" type="text" #username="ngModel" (keydown)="chkspace($event)"
              required minlength="8" maxlength="20" />
            <label for="username" class="center-align">Username</label>
            <div *ngIf="username.invalid && (username.dirty || registerForm.submitted)">
              <div *ngIf="username.errors.required" class="error">
                username is required.
              </div>
              <div *ngIf="username.errors.minlength" class="error">
                Enter at least 8 characters.
              </div>
            </div>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12 m12 l6">
            <i class="material-icons prefix pt-5">person_outline</i>
            <input [(ngModel)]="user.firstName" id="firstName" name="firstName" type="text" #firstName="ngModel" (keydown)="chkspace($event)"
              required maxlength="20" />
            <label for="firstName" class="center-align">First Name</label>
            <div *ngIf="firstName.invalid && (firstName.dirty || registerForm.submitted)">
              <div *ngIf="firstName.errors.required" class="error">
                first name is required.
              </div>
            </div>
          </div>
          <div class="input-field col s12 m12 l6">
            <i class="material-icons prefix pt-5">person_outline</i>
            <input [(ngModel)]="user.lastName" id="lastName" name="lastName" type="text" #lastName="ngModel" (keydown)="chkspace($event)"
              required maxlength="20" />
            <label for="lastName" class="center-align">Last Name</label>
            <div *ngIf="lastName.invalid && (lastName.dirty || registerForm.submitted)">
              <div *ngIf="lastName.errors.required" class="error">
                last name is required.
              </div>
            </div>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12 m12 l6">
            <i class="material-icons prefix pt-5">local_phone</i>
            <input [(ngModel)]="user.tel" id="tel" name="tel" type="text" #tel="ngModel" (keydown)="chkNum($event)" minlength="10" maxlength="10"
            />
            <label for="tel" class="center-align">Tel</label>
            <div *ngIf="tel.invalid && (tel.dirty || registerForm.submitted)">
              <div *ngIf="tel.errors.minlength" class="error">
                Enter 10 characters.
              </div>
            </div>
          </div>
          <div class="input-field col s12 m12 l6">
            <i class="material-icons prefix pt-5">email</i>
            <input [(ngModel)]="user.email" id="email" name="email" type="text" #email="ngModel" (keydown)="chkspace($event)" email />
            <label for="email" class="center-align">Email</label>
            <div *ngIf="email.invalid && (email.dirty || registerForm.submitted)">
              <div *ngIf="email.errors.email" class="error">
                wrong email format.
              </div>
            </div>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12 m12 l6">
            <i class="material-icons prefix pt-5">lock_outline</i>
            <input [(ngModel)]="user.password" id="password" name="password" type="password" #password="ngModel" (keydown)="chkspace($event)"
              required minlength="8" maxlength="20" />
            <label for="password" class="center-align">Password</label>
            <div *ngIf="password.invalid && (password.dirty || registerForm.submitted)">
              <div *ngIf="password.errors.required" class="error">
                password is required.
              </div>
              <div *ngIf="password.errors.minlength" class="error">
                Enter 8 characters.
              </div>
            </div>
          </div>
          <div class="input-field col s12 m12 l6">
            <i class="material-icons prefix pt-5">lock_outline</i>
            <input [disabled]="password.invalid" [(ngModel)]="confirmPassword.password" id="confirmPassword" name="confirmPassword" type="password"
              #confirmPassword="ngModel" (keydown)="chkspace($event)" />
            <label for="confirmPassword " class="center-align ">Confirm Password</label>
            <div *ngIf="((confirmPassword.value != password.value) && confirmPassword.value != null ) && password.valid" class="error ">
              not match password
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="input-field col s12 ">
            <button class="btn waves-effect waves-light col s8 offset-s2 "> Register</button>
          </div>
          <div class="input-field col s12 ">
            <p class="margin center medium-small sign-up ">Already have an account?
              <a routerLink="/login ">Login</a>
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<swal #already title="Already has username" text="please change username." type="warning"></swal>

<app-loading-opacity *ngIf="creating"></app-loading-opacity>
