<div class="page cyan">
  <div style="display: table-cell; vertical-align: middle;">
    <form class="row" style="margin: auto; padding: 10px">
      <div class="card-panel col s12 m6 l6 offset-m3 offset-l3">
        <div class="row">
          <div class="input-field col s12 center">
            <h4>Register</h4>
            <p class="center">Join to Petbook now !</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix pt-5">person_outline</i>
            <input id="username" type="text">
            <label for="username" class="center-align">Username</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12 m12 l6">
            <i class="material-icons prefix pt-5">person_outline</i>
            <input id="firstName" type="text">
            <label for="firstName" class="center-align">First Name</label>
          </div>
          <div class="input-field col s12 m12 l6">
            <i class="material-icons prefix pt-5">person_outline</i>
            <input id="lastName" type="text">
            <label for="lastName" class="center-align">Last Name</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12 m12 l6">
            <i class="material-icons prefix pt-5">local_phone</i>
            <input id="tel" type="text">
            <label for="tel" class="center-align">Tel</label>
          </div>
          <div class="input-field col s12 m12 l6">
            <i class="material-icons prefix pt-5">email</i>
            <input id="email" type="email">
            <label for="email" class="center-align">Email</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12 m12 l6">
            <i class="material-icons prefix pt-5">lock_outline</i>
            <input id="password" type="password">
            <label for="password" class="">Password</label>
          </div>
          <div class="input-field col s12 m12 l6">
            <i class="material-icons prefix pt-5">lock_outline</i>
            <input id="confirmPassword" type="password">
            <label for="confirmPassword" class="">Confirm Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <!-- <a href="/petlist" class="btn waves-effect waves-light col s12">Register Now</a> -->
            <button class="btn waves-effect waves-light col s8 offset-s2"> Register</button>
          </div>
          <div class="input-field col s12">
            <p class="margin center medium-small sign-up">Already have an account?
              <a routerLink="/login">Login</a>
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
